*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.leaflet-bottom {
display: none;
}
.App {
  transition: background-color 0.3s;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

.light-mode {
  background-color: #fff;
  color: #333;
}

.icon {
  transition: color 0.3s, transform 0.3s;
}

.dark-mode .icon {
  color: #ffffff;
  transform: rotate(180deg);
}

.light-mode .icon {
  color: #ffe100;
  transform: rotate(0deg);
}

.mode-toggle-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.dark-mode .mode-toggle-btn {
  background-color: #333;
}

.light-mode .mode-toggle-btn {
  background-color: #fff;
}
.pb-4 {
  width: 20px;
  padding-bottom: 1.5rem!important;
}

/* Mobile Responsive  (if you can use Tailwind css ) 
The interactivity  click fucntionality using APIs 
Redux and  Test driven aprroach 
make the maps look good middle  for example */